body {
	background-color: #010;
	color: white;
	font-family: Arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline;
	margin-right: 15px;
}

a {
	color: #0f0;
	text-decoration: none;
}

a:hover {
	color: white;
}